<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet App Home</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style/styles.css">
</head>
<body>

    <main>
        {{{body}}}
    </main>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
<script src="/js/scripts.js"></script>
</html>
