.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Define a custom class to narrow the input fields */
.narrow-input {
    max-width: 300px; /* Adjust the width as desired */
}

