<div class="container mt-5">
    <h2 class="text-center mb-4">Your Diet Plans</h2>
    <ul>
        {{#each dietPlans}}
            <li>
                <a href="/get-plan/{{this.plan_id}}">{{this.diet_type}}</a>
            </li>
        {{/each}}
    </ul>
</div>
