<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/wizard1.png" alt="logo" width="80" height="auto">
    <h1 class="display-5 fw-bold text-body-emphasis">Diet Wizard</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Easily and effortlessly design your diet for the next 30 days based on your metrics and
            preferred diets.</p>
        {{#unless logged_in}}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                <a href="/signup" class="text-white text-decoration-none">Sign-Up</a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
                <a href="/login" class="text-secondary text-decoration-none">Login</a>
            </button>
        </div>
        {{else}}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <div class="mb-3">
                    <button type="button" class="btn btn-primary btn-lg px-4">
                        <a href="/profile" class="text-white text-decoration-none">Profile</a>
                    </button>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-primary btn-lg px-4">
                        <a href="/setprofile" class="text-white text-decoration-none">Set Profile</a>
                    </button>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-primary btn-lg px-4">
                        <a href="/diets" class="text-white text-decoration-none">Diets</a>
                    </button>
                </div>
            </div>

        {{/unless}}
    </div>
</div>

<div class="container px-4 py-5 d-flex flex-column" id="icon-grid">
    <h2 class="pb-2 border-bottom" id="features">Features</h2>
    <div class="d-flex flex-column align-items-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex">
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Simple and Effective</h3>
                    <p>A simple and effective diet that works.</p>
                </div>
            </div>
            <div class="col d-flex">
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Effortless</h3>
                    <p>The generated diets are easy to follow, because we offer the choice of eliminating undesired food
                        items.</p>
                </div>
            </div>
            <div class="col d-flex">
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Science Based</h3>
                    <p>The diets are based on the most recent science available.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white" id="contact-us">Contact Us</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Contact us for any additional information.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 fw-bold">Send Us an Email</button>
            </div>
        </div>
    </div>
</div>
