<nav class="navbar  navbar-expand-lg bg-body-tertiary data-bs-theme='dark'">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="/">Diet Wizard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav --bs-dark-bg-subtle ms-auto">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/#features">Features</a>
              <a class="nav-link" href="/#contact-us">Contact Us</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="container mt-6">
        <img class="d-block mx-auto mt-4 mb-4" src="/images/wizard1.png" alt="logo" width="80" height="auto">
        <h4 class="text-center mt-4">Login to Diet Wizard 🧙‍♂️</h4>
        <div class="center-form">
            <form action="login.php" method="POST">
                <div class="form-group">
                    <label for="email" class="form-label mt-4">Email:</label>
                    <input type="text" class="form-control narrow-input" id="email-login" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label mt-4">Password:</label>
                    <input type="password" class="form-control narrow-input" id="password-login" name="password" required>
                </div>
                <div class="button-container mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg px-2 me-sm-3 fw-bold">Log In</button>
                </div>              
            </form>
            <div class="d-flex justify-content-center mt-2"> <!-- Add this div -->
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            <a href="/signup" class="text-secondary text-decoration-none">Sign-Up</a>
            </button>
    </div>
        </div>
    </div>
        
        <!-- Include jQuery and jQuery UI libraries -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script>
            const passwordInput = document.getElementById("password");
            const showPasswordCheckbox = document.getElementById("showPassword");
        
            showPasswordCheckbox.addEventListener("change", function() {
                if (showPasswordCheckbox.checked) {
                    passwordInput.type = "text";
                } else {
                    passwordInput.type = "password";
                }
            });
        </script>
        <script src="/js/login.js"></script>